.container {
	display: flex !important;
	flex-direction: column !important;
}

.btn {
	display: block;
	color: white !important;
	background-color: rgb(58, 50, 118) !important;
	transition: ease-out 0.4s !important;
	margin-top: 2rem !important;
	width: 20rem !important;
	align-self: center !important;
}

.btn:hover {
	transform: scale(1.1);
}

.card {
	max-width: 50vw;
	margin: 0 auto;
}
.img {
	max-width: 100%;
	height: auto;
}
.cardactionarea {
	padding: 2rem;
}

.title {
	color: rgb(58, 50, 118) !important;
	margin-bottom: 2rem !important;
	font-weight: 200 !important;
	font-size: 1.5rem !important;
}
.subtitle {
	color: rgb(58, 50, 118) !important;
	font-size: 1.5rem !important;
	font-weight: 200 !important;
	margin: 1rem !important;
}

.checker {
	color: rgb(58, 50, 118) !important;
}
