.appbar {
	background-color: rgb(58, 50, 118) !important;
}

.div {
	flex-grow: 1 !important;
}

.tab {
	font-size: 0.8rem !important;
	font-weight: 400 !important;
	letter-spacing: 0.11rem !important;
	margin-right: 1rem !important;
}

.avatar {
	margin-left: auto !important;
	opacity: 1 !important;
}
