.card {
	max-width: 30rem !important;
	margin: 0 auto;
	margin-bottom: 2rem;
	display: flex !important;
}

.media {
	height: 140px !important;
}

.title {
	color: rgb(58, 50, 118) !important;
	margin-bottom: 2rem !important;
	font-weight: 200 !important;
	font-size: 1.5rem !important;
	margin-top: 2rem !important;
}


